div#bottombar 
{
    width:25%;
    margin: 0 auto;
    padding: 4px;
    background-color:#495F72;
    border-radius: 7px;
    a:link, a:visited {
        color: white;
    }
}

a.bottombar:link, a.bottombar:visited {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

a.bottombar:hover{
    text-decoration: underline;
}
