a.topbar-item:link,  a.topbar-item:visited{
    color: #000000;
    font-size: x-large;
    font-weight:bold;
    text-decoration: none;
}

a.topbar-item:hover{
    text-decoration: underline;
}

#topbarsigninButton {
    position: relative;
    float: right;
}

#topbarsignoutButton {
    position: relative;
    float: right;
}

#settings {
    float: right;
}

.topbar-item {
    padding: 4px;
    border-radius: 7px;
    color: white;
}
a.topbar-item:link, a.topbar-item:visited {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

.navbar
{
    background-color: #283F50;
    position:relative;
    min-height:40px;
}

.navbar-header
{
    float:left
}

.navbar-fixed-top
{
    z-index:1030;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
    margin:0;
}
