<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>About</title>
        {{template "Header" .}}
    </head>
    <body>
        {{template "Topbar" .}}
      <div class="body-content">
          <br>
          <p>
              Renfish is is based on the Open Source <a href="https://getgophish.com/">Gophish</a> project and developed by <a href="https://twitter.com/bjwbell">Bryan JW Bell</a>.
          </p>
          <br>
          <br>
          <br>
      </div>
      {{template "Bottombar"}}
    </body>
</html>
