<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>About</title>
        {{template "Header" .}}
    </head>
    <body>
        {{template "Topbar" .}}
      <div class="body-content">
          <br>
          <p>
              Created by Bryan Bell<br/>
              Personal site <a href="https://bjbell.wordpress.com">bjbell.wordpress.com</a>
          </p>
          <br>
          <br>
          <br>
      </div>
      {{template "Bottombar"}}
    </body>
</html>
