<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>About</title>
        {{template "Header" .}}
    </head>
    <body>
        {{template "Topbar" .}}
      <div class="body-content">
          <br>
          <p>
              Created by Bryan Bell<br/>
              Contact Email: <a href="mailto:bjwbell@gmail.com">bjwbell@gmail.com</a><br/>
              Phone: +1 530-355-5145<br/>
              Address: 2556 Zinfandel Dr, Rancho Cordova, CA
          </p>
          <br>
          <br>
          <br>
      </div>
      {{template "Bottombar"}}
    </body>
</html>
