<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Renroll - Home</title>
    {{template "Header" .}}
    <link rel="stylesheet" type="text/css" href="css/frontpage.css" />
  </head>
  <body>
      {{template "Topbar" .}}
      <div class="body-content">
          <p>&nbsp;1-click Gophish deploy. No manual server setup.</p>
          <ul class="across">
          </ul>
          <br />
          <p class="front-page-item" style="background-color:Coral;text-align:center;"><br/><a href="/upload" class="front-page-sign-in">Create Account</a><br/>&nbsp;</p>
          <br />
          <br />
          <br />
      </div>
      {{template "Bottombar"}}
  </body>
</html>
