<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Login - Renfish</title>
    {{template "Header" .}}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/topbar.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <style type="text/css">
     .container {
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        margin:10px;
}

.left {order:1;; flex-basis:100%;border: 1px dashed black; margin:2px; padding:10px;}
.right {order:2;;flex-basis:100%; padding:20px;border: 1px dashed black;margin:2px;}

@media screen and (min-width:600px) {
   .container {
       flex-wrap:nowrap;
   }

    .left {
        flex-basis:200px;
        order:1;
    }
    .right {
        flex-basis:200px;
        order:2;
    }
}
    </style>
  </head>
  <body>
      {{template "Topbar" .}}
      <div class="body-content">
          <br>
          <div class="container">
              <div class="left">
                  <form id="submitform" name="submitform" onsubmit="return gotoSite();">
                      <div class="gridbox-content" style="display:flex; flex-flow:wrap; width:100%; margin:0 auto;">
                          <div>
                              <input type="text" name="sitename" id="sitename" size="8">.renfish.com
                              <span id="warning"></span>
                              <br/>
                          </div>
                      </div>
                      <br/>
                      <div>
                          <a href="#" onclick="gotoSite();" style="padding:10px;background-color:Coral; border-radius: 3px; box-shadow: 1px 1px 1px #888888; font-size:medium;color: #000000;">Login</a>
                      </div>
          	  </form>
              </div>
              <div class="right">
                  <b>Account</b><br/><br/>
                  <a href="/billing" style="padding:10px;background-color:Coral; border:10px;border-radius: 3px; box-shadow: 1px 1px 1px #888888; font-size:medium;color: #000000;">Upgrade/Billing</a>
              </div>
          </div>
          <br>
          </div>
          <script>
           function gotoSite() {
               var warn = document.getElementById("warning");
               var siteName = document.getElementById("sitename").value;
               if (siteName === "") {
                   warn.innerHTML = "<font color='red'>enter a site name</font>"
                   return false;
               }
               $.ajax({
                   url: "/checksite" + "?sitename=" + siteName,
                   async: true,
                   method: "GET",
                   data: "{}",
                   dataType: "json",
                   contentType: "application/json"
               })
                .always(function (jqXHR) {
                    console.log(jqXHR.status);
                    if (jqXHR.status == 200) {
                        window.location.href = 'https://'+siteName+'.renfish.com';
                    } else {
                        warn.innerHTML = "<font color='red'>" + siteName + " is not registered</font>";
                    }
                });
               return false;
           }
          </script>
      {{template "Bottombar"}}
  </body>
</html>
