<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>New - Renfish</title>
    {{template "Header" .}}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/topbar.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
      {{template "Topbar" .}}
      <div class="body-content">
          <div class="preload" style="display:none;"><img src="https://i.imgur.com/KUJoe.gif">
          </div>
          <br>
          <form id="submitform" name="submitform">
              <div class="gridbox-content" style="display:flex; flex-flow:wrap; width:100%; margin:0 auto;">
                  <div style="display:none;">
                      <label for="email">Email &nbsp;</label>
                  </div>
                  <div style="display:none;">
                      <input type="text" name="email" id="email" size="25" value="dummy@dummy.com"><br>
                  </div>
                  <div>
                      <label for="site">Site &nbsp;</label>
                  </div>
                  <div>
                      <input type="text" name="sitename" id="sitename" size="8">.renfish.com
                      <span id="warning"></span>
                      <br/>
                  </div>
              </div>
              <br/>
              <div><input type="submit" value="New Account"></div>
              </div>
          </form>
          <br>
          </div>
          <script>
           $("#submitform").submit(function(e) {
               e.preventDefault(); // avoid executing the actual submit of the form.
               var warn = document.getElementById("warning");
               var siteName = document.getElementById("sitename").value;
               if (siteName === "") {
                   warn.innerHTML = "<font color='red'>enter a site name</font>"
                   return;
               }
               $(".preload").fadeIn(2000);
               $("#submitform").fadeOut();
               window.setTimeout(siteredirect, 15000);
               $.ajax({
                   type: "POST",
                   url: "/createsite",
                   data: $("#submitform").serialize(), // serializes the form's elements.
                   success: function(data)
                   {
                   }
               });
           });

           function siteredirect() {
               var subdomain = document.getElementById("sitename").value;
               window.location.href = 'https://'+subdomain+'.renfish.com';
           }
          </script>
      {{template "Bottombar"}}
  </body>
</html>
