<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Renfish - Sign Up</title>
    {{template "Header" .}}
    <link rel="stylesheet" type="text/css" href="css/topbar.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
      <link rel="stylesheet" type="text/css" href="css/topbar.css" />
      <nav class="navbar navbar-fixed-top" role="navigation">
          <div class="navbar-container">
              &nbsp;&nbsp;<a href="index" class="topbar-item">Renfish</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/pricing" class="topbar-item">Pricing</a>
          </div>
      </nav>
      <div class="body-content">
          <br>
          <form id="submitform" name="submitform">
              <div class="gridbox-content" style="display:flex; flex-flow:wrap; width:100%; margin:0 auto;">
                  <div>
                      <label for="email">Email &nbsp;</label>
                  </div>
                  <div>
                      <input type="text" name="email" id="email" size="25"><br>
                  </div>
                  <div>
                      <label for="site">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Site &nbsp;</label>
                  </div>
                  <div>
                      <input type="text" name="sitename" id="sitename" size="8">.renfish.com<br/>
                  </div>
              </div>
              <br/>
              <div><input type="submit" value="Create Account"></div>
              </div>
          </form>
          <br>
          </div>
          <script>
           $("#submitform").submit(function(e) {
               window.setTimeout(siteredirect, 10000);
               $.ajax({
                   type: "POST",
                   url: "/createsite",
                   data: $("#submitform").serialize(), // serializes the form's elements.
                   success: function(data)
                   {
                   }
               });
               e.preventDefault(); // avoid executing the actual submit of the form.
           });

           function siteredirect() {
               var subdomain = document.getElementById("sitename").value;
               window.location.href = 'https://'+subdomain+'.renfish.com';
           }
          </script>
      {{template "Bottombar"}}
  </body>
</html>
