<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Renfish - Sign Up</title>
    {{template "Header" .}}
    <link rel="stylesheet" type="text/css" href="css/topbar.css" />
  </head>
  <body>
      <link rel="stylesheet" type="text/css" href="css/topbar.css" />
      <nav class="navbar navbar-fixed-top" role="navigation">
          <div class="navbar-container">
              &nbsp;&nbsp;<a href="index" class="topbar-item">Renfish</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/pricing" class="topbar-item">Pricing</a>
          </div>
      </nav>
      <div class="body-content">
          <br>
          <form action="/createsite">
              <div class="gridbox-content" style="display:flex; flex-flow:wrap; width:100%; margin:0 auto;">
                  <div>
                      <label for="email">Email &nbsp;</label>
                  </div>
                  <div>
                      <input type="text" name="email" id="email" size="25"><br>
                  </div>
                  <div>
                      <label for="site">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Site &nbsp;</label>
                  </div>
                  <div>
                      <input type="text" name="sitename" id="sitename" size="8">.renfish.com<br/>
                  </div>
              </div>
              <br/>
              <div><input type="submit" value="Create Account"></div>
              </div>
          </form>
          <br>
      </div>
      {{template "Bottombar"}}
  </body>
</html>
