{{define "Topbar"}}
<link rel="stylesheet" type="text/css" href="css/topbar.css" />
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-container">
        <a href="/index" class="topbar-item">
            &nbsp;&nbsp;<img href="index" src="images/logo_inv_small.png" class="topbar-item">&nbsp;Renfish
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/index#features" class="topbar-item">Features</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/index#pricing" class="topbar-item">Pricing</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/about" class="topbar-item">About</a>
    </div>
</nav>
{{end}}
